<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Manager Page - Dashboard</title>
<th:block th:include="fragments/adminPageFragment.html :: headerfiles"></th:block>
</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		<ul th:replace="fragments/adminPageFragment.html :: sideBar"></ul>
		<!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<nav th:replace="fragments/adminPageFragment.html :: topBar">
				</nav>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				
				<div class="container-fluid">

					<!-- 403 Error Text -->
					<div class="text-center">
						<div class="error mx-auto" data-text="403">403</div>
						<p class="lead text-gray-800 mb-5">OPPSSS!!!! Sorry...</p>
						<p class="text-gray-500 mb-0">Sorry, your access is refused due to security reasons of our server and also our sensitive data.
Please go back to the previous page to continue browsing.</p>
						<a th:href="@{/admin}">&larr; Back to Dashboard</a>
					</div>

				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<footer class="sticky-footer bg-white">
				<div class="container my-auto">
					<div class="copyright text-center my-auto">
						<span>Copyright &copy; Your Website 2019</span>
					</div>
				</div>
			</footer>
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>


	</div>
	<!-- End of Main Content -->

	<!-- Footer -->
	<footer th:replace="fragments/adminPageFragment.html :: footer">
	</footer>
	<!-- End of Footer -->

	</div>
	<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a th:replace="fragments/adminPageFragment.html :: scrollTopButton">

	</a>

	<!-- Logout Modal-->
	<div th:replace="fragments/adminPageFragment.html :: logoutModal">

	</div>

	<!-- Bootstrap core JavaScript-->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="js/sb-admin-2.min.js"></script>

	<!-- Page level plugins -->
	<script src="vendor/chart.js/Chart.min.js"></script>

	<!-- Page level custom scripts -->
	<script src="js/demo/chart-area-demo.js"></script>
	<script src="js/demo/chart-pie-demo.js"></script>

</body>

</html>
