<!-- NOT including the <header> tag -->

<header>
    <nav class="navigation desktop-navigation">
        <div class="container">
            <div class="row pt-3 pb-2">
                <div class="col-md-3">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">UIT Watchshop</a>
                    </div>
                </div>

                <div class="col-md-7">
                    <div class="input-group">
                        <input type="text" id="main-search" class="form-control"
                            placeholder="Tìm kiếm sản phẩm, hãng..." aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-outline-success" type="button">Tìm kiếm</button>
                        </div>
                    </div>

                    <ul class="search-suggestion">

                        <!-- Search suggestion will show up here whenever user enters a keyword -->
                        <li>
                            <a class="product-link" href="#">
                                <div class="suggestion-item d-flex flex-row p-3">
                                    <div class="item-image d-flex align-items-start mr-3" style="width: 20%;">
                                        <img src="images/citizen-watch-03.jpg" style="width: 100%;"
                                            alt="Citizen BL8144-89H">
                                    </div>
                                    <div class="item-details flex-grow-1 d-flex flex-column">
                                        <h6 class="product-name mb-1">Citizen BL8144-89H</h6>
                                        <p class="card-text price-small">16,500,000đ</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="product-link" href="#">
                                <div class="suggestion-item d-flex flex-row p-3">
                                    <div class="item-image d-flex align-items-start mr-3" style="width: 20%;">
                                        <img src="images/citizen-watch-03.jpg" style="width: 100%;"
                                            alt="Citizen BL8144-89H">
                                    </div>
                                    <div class="item-details flex-grow-1 d-flex flex-column">
                                        <h6 class="product-name mb-1">Citizen BL8144-89H</h6>
                                        <p class="card-text price-small">16,500,000đ</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="product-link" href="#">
                                <div class="suggestion-item d-flex flex-row p-3">
                                    <div class="item-image d-flex align-items-start mr-3" style="width: 20%;">
                                        <img src="images/citizen-watch-03.jpg" style="width: 100%;"
                                            alt="Citizen BL8144-89H">
                                    </div>
                                    <div class="item-details flex-grow-1 d-flex flex-column">
                                        <h6 class="product-name mb-1">Citizen BL8144-89H</h6>
                                        <p class="card-text price-small">16,500,000đ</p>
                                    </div>
                                </div>
                            </a>
                        </li>

                    </ul>
                </div>

                <div class="col-md-2">
                    <div class="navbar-icons stretched-container d-flex justify-content-end align-items-end">
                        <a class="regular-link" href="#">
                            <ion-icon name="ios-person" class="regular-icon"></ion-icon>
                        </a>
                        <a class="regular-link pl-lg-4 pl-3" href="#">
                            <ion-icon name="ios-cart" class="regular-icon"></ion-icon>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row pt-lg-0 pt-md-1">
                <div class="col-lg-3 col-md-4">
                    <div class="stretched-container d-flex justify-content-start align-items-end">
                        <div class="dropdown">
                            <button class="btn btn-square-bottom btn-success dropdown-toggle" type="button"
                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                Danh mục sản phẩm
                            </button>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Đồng hồ Citizen</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Đồng hồ Ogival</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Đồng hồ Orient</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Đồng hồ Seiko</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Đồng hồ Bulova</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-9 col-md-8">
                    <div class="stretched-container d-flex justify-content-start align-items-end">
                        <ul class="main-nav content-wrapper">
                            <li class="nav-item"><a class="nav-link nav-link-active" href="#">Trang chủ</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Liên hệ</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Về chúng tôi</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <nav class="navigation mobile-navigation">
        <div class="container">
            <div class="row py-2">
                <div class="col-6">
                    <div class="navbar-header stretched-container d-flex align-items-center">
                        <a class="navbar-brand" href="#">UIT Watchshop</a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex justify-content-end">
                        <button type="button" class="hamburger btn btn-light">
                            <ion-icon name="ios-menu" class="hamburger-icon large-icon">
                            </ion-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

<div class="hamburger-menu">

</div>