<!-- NOT including the <header> tag -->

<nav class="navigation">
    <div class="container">
        <div class="row pt-3 pb-2">
            <div class="col-md-3">
                <div class="navbar-header">
                    <a class="navbar-brand bold-text" href="#">UIT Watchshop</a>
                </div>
            </div>

            <div class="col-md-7">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-outline-success" type="button">Search</button>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="navbar-icons stretched-container d-flex justify-content-end align-items-end">
                    <a class="regular-link" href="#">
                        <ion-icon name="ios-person" class="regular-icon"></ion-icon>
                    </a>
                    <a class="regular-link pl-lg-4 pl-3" href="#">
                        <ion-icon name="ios-cart" class="regular-icon"></ion-icon>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="stretched-container d-flex justify-content-start align-items-end">
                    <div class="dropdown">
                        <button class="btn btn-square-bottom btn-success dropdown-toggle" type="button"
                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Danh mục sản phẩm
                        </button>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Đồng hồ Citizen</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Đồng hồ Ogival</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Đồng hồ Orient</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Đồng hồ Seiko</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Đồng hồ Bulova</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-9 col-md-8">
                <div class="stretched-container d-flex justify-content-start align-items-end">
                    <ul class="main-nav content-wrapper">
                        <li class="nav-item"><a class="nav-link" href="#">Trang chủ</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Liên hệ</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Về chúng tôi</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>