<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="fragments/head.html :: head"></th:block>

    <!-- CSS files -->
    <link th:href="@{/css/contact_styles.css}" rel="stylesheet">
    <link th:href="@{/css/contact_responsive.css}" rel="stylesheet">

    <!-- Page title -->
    <title>UIT Watchshop - Liên hệ</title>
</head>

<body>
    <header th:include="fragments/header.html :: header"></header>

    <!-- Page content here -->


    <footer th:include="fragments/footer.html :: footer"></footer>

    <th:block th:include="fragments/scripts.html :: scripts"></th:block>

    <!-- Scripts -->
    <script th:src="@{/js/contact_script.js}"></script>

</body>

</html>