<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="fragments/head.html :: head"></th:block>

    <!-- CSS files -->
    <link th:href="@{/css/contact_styles.css}" rel="stylesheet">
    <link th:href="@{/css/contact_responsive.css}" rel="stylesheet">

    <!-- Page title -->
    <title>UIT Watchshop - Liên hệ</title>
</head>

<body>
    <header th:include="fragments/header.html :: header"></header>

    <div class="modal fade" id="contactModal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="border-bottom: 1px solid transparent;">
                    <h5 class="modal-title">Thông báo</h5>
                </div>
                <div class="modal-body px-4 py-3">

                    Message

                </div>
                <div class="modal-footer" style="border-top: 1px solid transparent;">
                    <button type="button" class="btn btn-success px-4" data-dismiss="modal">
                        OK
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Page content here -->
    <section class="section-contact">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="section-heading">Liên hệ với chúng tôi</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <div class="contact-main-container pt-2">
                        <div class="contact_text">
                            <p class="mb-2"><em>Giới thiệu về UIT Watchshop:</em></p>
                            <p>
                                UIT Watchshop là website bán đồng hồ trực tuyến được xây dựng như là
                                đồ án của môn Công nghệ phần mềm chuyên sâu và Phân tích thiết kế hệ thống thông tin.
                            </p>
                            <p class="mt-4 mb-2"><em>Nhóm thực hiện gồm các thành viên:</em></p>
                            <p>
                                - Tăng Hoàng Ân (16520020)
                                <br>
                                - Đậu Đức Việt Anh (16520029)
                                <br>
                                - Vũ Ngọc Duy Anh (165200xx)
                            </p>
                        </div>
                        <div class="d-flex flex-row my-5">
                            <div class="contact_info_box mt-1">i</div>
                            <div class="d-flex flex-column ml-4">
                                <div class="contact_info d-flex flex-column mb-3">
                                    <p>Điện thoại: (+84) 35 2305 969</p>
                                    <p>Email: anhddv98@gmail.com</p>
                                </div>
                                <div>
                                    <ul class="social-links">
                                        <li>
                                            <a href="https://www.facebook.com/v.a.redbeanboy" target="_blank">
                                                <ion-icon name="logo-facebook"
                                                    class="social-icon facebook-icon small-icon">
                                                </ion-icon>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/in/anhddv98/" target="_blank">
                                                <ion-icon name="logo-linkedin"
                                                    class="social-icon linkedin-icon small-icon">
                                                </ion-icon>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://github.com/hoangan1903/WatchShop" target="_blank">
                                                <ion-icon name="logo-github" class="social-icon github-icon small-icon">
                                                </ion-icon>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="contact_form_container">
                        <form>
                            <div class="form-group">
                                <label for="inputName">Tên</label>
                                <input type="text" class="form-control" id="inputName" placeholder="Tên của bạn"
                                    required>
                            </div>

                            <div class="form-group">
                                <label for="inputEmail">Email</label>
                                <input type="email" class="form-control" id="inputEmail" placeholder="name@example.com">
                                <small id="emailHelp" class="form-text text-muted">
                                    Chúng tôi sẽ không chia sẻ email của bạn cho bất kỳ ai.
                                </small>
                            </div>

                            <div class="form-group">
                                <label for="inputSubject">Chủ đề</label>
                                <input type="text" class="form-control" id="inputSubject" placeholder="Chủ đề" required>
                            </div>

                            <div class="form-group">
                                <label for="inputMessage">Lời nhắn</label>
                                <textarea class="form-control form-message" id="inputMessage" rows="5"
                                    placeholder="Lời nhắn của bạn"></textarea>
                            </div>

                            <div class="d-flex justify-content-end full-width mt-4">
                                <button id="submitFeedback" type="button" class="btn-form-submit btn btn-success px-4">
                                    Gửi
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer th:include="fragments/footer.html :: footer"></footer>

    <th:block th:include="fragments/scripts.html :: scripts"></th:block>

    <!-- Scripts -->
    <script th:src="@{/js/contact_script.js}"></script>

</body>

</html>