<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <th:block th:include="fragments/head.html :: head"></th:block>

    <!-- CSS files -->
    <link th:href="@{/css/main_styles.css}" rel="stylesheet">
    <link th:href="@{/css/main_responsive.css}" rel="stylesheet">

    <!-- Page title -->
    <title>UIT Watchshop - Trang chủ</title>
</head>

<body>
    <header th:include="fragments/header.html :: header"></header>

    <!-- Page content here -->
    <section class="section-banners">
        <div class="container">
            <div class="row mb-lg-4 mb-sm-3">
                <div class="col-12">
                    <div class="carousel main-carousel slide" id="mainCarouselIndicators" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#mainCarouselIndicators" data-slide-to="0"></li>
                            <li data-target="#mainCarouselIndicators" data-slide-to="1"></li>
                            <li data-target="#mainCarouselIndicators" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="carousel-item">
                                <img src="/images/samples/la.jpg" class="d-block w-100" alt="Los Angeles">
                            </div>
                            <div class="carousel-item">
                                <img src="/images/samples/chicago.jpg" class="d-block w-100" alt="Chicago">
                            </div>
                            <div class="carousel-item">
                                <img src="/images/samples/ny.jpg" class="d-block w-100" alt="New York">
                            </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#mainCarouselIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#mainCarouselIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="brand-logos d-flex justify-content-center">
                        <ul class="content-wrapper">
                            <li>
                                <img class="brand-logo" src="/images/citizen-logo.png" alt="Citizen">
                            </li>
                            <li>
                                <img class="brand-logo" src="/images/ogival-logo.jpg" alt="Ogival">
                            </li>
                            <li>
                                <img class="brand-logo" src="/images/bulova-logo.png" alt="Bulova">
                            </li>
                            <li>
                                <img class="brand-logo" src="/images/orient-logo.jpg" alt="Orient">
                            </li>
                            <li>
                                <img class="brand-logo" src="/images/seiko-logo.png" alt="Seiko">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-products">
        <div class="container">
            <div class="row">
                <h2 class="section-heading">Sản phẩm nổi bật</h2>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="products-by-brand-container">

                        <div id="top-slider" class="owl-carousel owl-theme custom-slider py-2">
                            <!-- Items here -->
                        </div>

                        <div
                            class="custom-slider-nav prev d-flex flex-column justify-content-center align-items-center">
                            <img src="/images/slider-arrow-prev.png" alt="">
                        </div>

                        <div
                            class="custom-slider-nav next d-flex flex-column justify-content-center align-items-center">
                            <img src="/images/slider-arrow-next.png" alt="">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-citizen">
        <div class="container">
            <div class="row">
                <h2 class="section-heading">Đồng hồ Citizen</h2>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="products-by-brand-container">
                        <div class="full-width d-flex justify-content-end">
                            <a href="/products/brand?id=1" class="show-more regular-link">Xem thêm</a>
                        </div>

                        <div id="citizen-slider" class="owl-carousel owl-theme custom-slider py-2">
                            <!-- Items here -->
                        </div>

                        <div
                            class="custom-slider-nav prev d-flex flex-column justify-content-center align-items-center">
                            <img src="/images/slider-arrow-prev.png" alt="">
                        </div>

                        <div
                            class="custom-slider-nav next d-flex flex-column justify-content-center align-items-center">
                            <img src="/images/slider-arrow-next.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-ogival">
        <div class="container">
            <div class="row">
                <h2 class="section-heading">Đồng hồ Ogival</h2>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="products-by-brand-container">
                        <div class="full-width d-flex justify-content-end">
                            <a href="/products/brand?id=2" class="show-more regular-link">Xem thêm</a>
                        </div>

                        <div id="ogival-slider" class="owl-carousel owl-theme custom-slider py-2">
                            <!-- Items here -->
                        </div>

                        <div
                            class="custom-slider-nav prev d-flex flex-column justify-content-center align-items-center">
                            <img src="/images/slider-arrow-prev.png" alt="">
                        </div>

                        <div
                            class="custom-slider-nav next d-flex flex-column justify-content-center align-items-center">
                            <img src="/images/slider-arrow-next.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-orient">
        <div class="container">
            <div class="row">
                <h2 class="section-heading">Đồng hồ Orient</h2>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="products-by-brand-container">
                        <div class="full-width d-flex justify-content-end">
                            <a href="/products/brand?id=6" class="show-more regular-link">Xem thêm</a>
                        </div>

                        <div id="orient-slider" class="owl-carousel owl-theme custom-slider py-2">
                            <!-- Items here -->
                        </div>

                        <div
                            class="custom-slider-nav prev d-flex flex-column justify-content-center align-items-center">
                            <img src="/images/slider-arrow-prev.png" alt="">
                        </div>

                        <div
                            class="custom-slider-nav next d-flex flex-column justify-content-center align-items-center">
                            <img src="/images/slider-arrow-next.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-bulova">
        <div class="container">
            <div class="row">
                <h2 class="section-heading">Đồng hồ Bulova</h2>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="products-by-brand-container">
                        <div class="full-width d-flex justify-content-end">
                            <a href="/products/brand?id=4" class="show-more regular-link">Xem thêm</a>
                        </div>

                        <div id="bulova-slider" class="owl-carousel owl-theme custom-slider py-2">
                            <!-- Items here -->
                        </div>

                        <div
                            class="custom-slider-nav prev d-flex flex-column justify-content-center align-items-center">
                            <img src="/images/slider-arrow-prev.png" alt="">
                        </div>

                        <div
                            class="custom-slider-nav next d-flex flex-column justify-content-center align-items-center">
                            <img src="/images/slider-arrow-next.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-testimonials text-white">
        <div class="container">
            <div class="row">
                <h2 class="section-heading text-white">ĐÁNH GIÁ CỦA KHÁCH HÀNG</h2>
            </div>

            <div class="row">
                <div class="col-md-4 mb-md-0 mb-4">
                    <blockquote>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.

                        <cite><img class="customer-avatar" src="/images/person.jpg" alt="Customer 1">Khách hàng 1</cite>
                    </blockquote>
                </div>
                <div class="col-md-4 mb-md-0 mb-4">
                    <blockquote>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.

                        <cite><img class="customer-avatar" src="/images/person.jpg" alt="Customer 2">Khách hàng 2</cite>
                    </blockquote>
                </div>
                <div class="col-md-4">
                    <blockquote>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.

                        <cite><img class="customer-avatar" src="/images/person.jpg" alt="Customer 3">Khách hàng 3</cite>
                    </blockquote>
                </div>
            </div>
        </div>
    </section>

    <section class="section-form">
        <div class="container">
            <div class="row">
                <h2 class="section-heading">Chúng tôi luôn sẵn sàng lắng nghe bạn</h2>
            </div>

            <div class="row">
                <div class="col-xl-3 col-lg-2 col-md-1"></div>
                <div class="col-xl-6 col-lg-8 col-md-10">
                    <form>
                        <div class="form-group">
                            <label for="inputName">Tên</label>
                            <input type="text" class="form-control" id="inputName" aria-describedby="nameHelp"
                                placeholder="Tên của bạn" required>
                        </div>

                        <div class="form-group">
                            <label for="inputEmail">Email</label>
                            <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp"
                                placeholder="name@example.com" required>
                            <small id="emailHelp" class="form-text text-muted">
                                Chúng tôi sẽ không chia sẻ email của bạn cho bất kỳ ai.
                            </small>
                        </div>

                        <div class="form-group">
                            <label>Lời nhắn</label>
                            <textarea name="message" class="form-control form-message"
                                placeholder="Lời nhắn của bạn"></textarea>
                        </div>

                        <div class="form-check mb-3">
                            <input type="checkbox" class="form-check-input" id="check">
                            <label class="form-check-label" for="check">Cập nhật thông tin mới nhất qua email
                                này</label>
                        </div>

                        <div class="btn-form-submit-container full-width mt-4">
                            <button type="submit" class="btn-form-submit btn btn-success">Gửi</button>
                        </div>
                    </form>
                </div>
                <div class="col-xl-3 col-lg-2 col-md-1"></div>
            </div>
        </div>
    </section>

    <footer th:include="fragments/footer.html :: footer"></footer>

    <th:block th:include="fragments/scripts.html :: scripts"></th:block>

    <!-- Scripts -->
    <script th:src="@{/js/main_script.js}"></script>
</body>

</html>