<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="fragments/head.html :: head"></th:block>

    <!-- CSS files -->
    <link href="css/products_styles.css" rel="stylesheet">

    <!-- Page title -->
    <title>UIT Watchshop - Các sản phẩm</title>
</head>

<body>
    <header th:include="fragments/header.html :: header"></header>

    <!-- Page content here -->
    <section class="section-sort-filter">
        <div class="container">
            <div class="row">
                <!-- Filter and sorter go here -->
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="inputState" style="font-weight: 500;">Lọc theo</label>
                        <select id="inputState" class="form-control">
                            <option selected>Chọn...</option>
                            <option>...</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="inputState" style="font-weight: 500;">Sắp xếp</label>
                        <select id="inputState" class="form-control">
                            <option selected>Nổi bật nhất</option>
                            <option>Giá tăng dần</option>
                            <option>Giá giảm dần</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="stretched-container d-flex flex-row justify-content-end align-items-end pb-3">
                        <a href="#" class="regular-link mr-2">
                            <ion-icon name="grid" class="regular-icon">
                            </ion-icon>
                        </a>
                        <a href="#" class="regular-link">
                            <ion-icon name="list" class="regular-icon">
                            </ion-icon>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="section-product-list">
        <div class="container">
            <div class="row">

                <!-- Products go here -->

            </div>
        </div>
    </section>

    <section class="section-pagination-links">
        <div class="container">
            <div class="row">
                <nav class="full-width" aria-label="Products navigation">
                    <ul class="pagination justify-content-center">

                        <!-- Pagination links go here -->

                    </ul>
                </nav>
            </div>
        </div>
    </section>

    <footer th:include="fragments/footer.html :: footer"></footer>

    <th:block th:include="fragments/scripts.html :: scripts"></th:block>

    <!-- Scripts -->
    <script src="js/products_script.js"></script>
</body>

</html>