<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<!-- Custom fonts for this template-->
<link href="../../../vendor/fontawesome-free/css/all.min.css"
	rel="stylesheet" type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link href="../../../css/sb-admin-2.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link th:href="@{/css/label.css}" rel="stylesheet" type="text/css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"
	type="text/javascript"></script>
<style type="text/css">
/* CSS used here will be applied after bootstrap.css */
.badge-notify {
	background: red;
	position: relative;
	top: -20px;
	left: -10px;
}
</style>
<script type="text/javascript">
	//Wait 1s before running again
	var timeDelay = 1000*60;
	

	//will be started when loaded
	$(document).ready(function() {
		getCountNewOrder();
		getMe();
		getAlertsNew();
	})

	//setInterVal is function always run 
	setInterval(function() {
		getCountNewOrder();
		getAlertsNew();
	}, timeDelay);

	function getCountNewOrder() {
		var url = "/rest/order/new/count";
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				var obj = JSON.parse(this.responseText);
				if (obj == 0) {
					$('#spanOrderStatusNew').hide();
				} else {
					$('#spanOrderStatusNew').show().text(obj);
				}
			}
		}
		xhttp.open("GET", url, true);
		xhttp.send();
	}

	function getAlertsNew() {
		var url = "/rest/alerts/new";
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				var obj = JSON.parse(this.responseText);
				if (obj.totals == 0) {
					$('#alertNewCount').hide();
				} else {
					$('#alertNewCount').show().text(obj.totals);
					$('#areaAlertsCenter').empty();
					$.each(obj.alerts,function(key,value){
						$('#areaAlertsCenter')
						.append(
								'<a class="dropdown-item d-flex align-items-center" href="#">'
										+ '<div class="mr-3">'
										+ '<div class="icon-circle bg-primary">'
										+ '<i class="fas fa-file-alt text-white"></i>'
										+ '</div>'
										+ '</div>'
										+ '<div>'
										+ '<div class="small text-gray-500">'+value.createAt+'</div>'
										+ '<span class="font-weight-bold">'+value.content+'</span>'
										+ '</div>' + '</a> ');
					})
					
				}

			}
		}
		xhttp.open("GET", url, true);
		xhttp.send();
	}

	function getMe() {
		var url = "/rest/users/me";
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				obj = JSON.parse(this.responseText);
				$('#nameMe').text(obj.username);
				var role = obj.authorities[0].authority.slice(5, 15)
						.toLocaleUpperCase();
				$('#roleMe').text("ROLE: " + role);
			}
		}
		xhttp.open("GET", url, true);
		xhttp.send();
	}
	
	function alertNotifyOnclick(){
		var url = "/rest/alerts/read";
		var xhttp = new XMLHttpRequest();
		xhttp.open("POST", url, true);
		xhttp.setRequestHeader("Content-Type", "application/json");
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				obj = JSON.parse(this.responseText);
				
			}
		}
		
		xhttp.send();
	}
	
</script>
</head>
<body>
	<ul th:fragment="sideBar"
		class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
		id="accordionSidebar">

		<!-- Sidebar - Brand -->
		<a
			class="sidebar-brand d-flex align-items-center justify-content-center"
			th:href="@{/admin}">
			<div class="sidebar-brand-icon rotate-n-15">
				<i class="fas fa-laugh-wink"></i>
			</div>
			<div class="sidebar-brand-text mx-3">Management Area</div>
		</a>

		<!-- Divider -->
		<hr class="sidebar-divider my-0">


		<div class="sidebar-heading">Area of Admin</div>
		<!-- Nav Item - Employee -->

		<li class="nav-item"><a th:href="@{/admin/CRUD_Alert}"
			class="nav-link"> <i class="fas fa-user"></i> <span>Alerts</span>
		</a></li>

		<li class="nav-item"><a th:href="@{/admin/CRUD_User}"
			class="nav-link"> <i class="fas fa-user"></i> <span>Users</span>
		</a></li>

		<!-- Divider -->
		<hr class="sidebar-divider d-none d-md-block">

		<!-- Heading -->
		<div class="sidebar-heading">Area of Manager</div>


		<!-- Nav Item - Pages Products Menu -->
		<li class="nav-item"><a th:href="@{/admin/CRUD_Products}"
			class="nav-link"> <i class="fas fa-gem"></i> <span>Products</span>
		</a></li>

		<!-- Nav Item - Employee -->
		<li class="nav-item"><a th:href="@{/admin/CRUD_Employees}"
			class="nav-link"> <i class="fas fa-user-friends"></i> <span>Employees</span>
		</a></li>
		
		<!-- Nav Item - Report -->
		<li class="nav-item"><a th:href="@{/admin/report}"
			class="nav-link"> <i class="fas fa-user-friends"></i> <span>Reports</span>
		</a></li>
		
		<!-- Nav Item - Pages Products Menu -->
		<li class="nav-item"><a th:href="@{/admin/feedback}"
			class="nav-link"> <i class="fas fa-gem"></i> <span>Feedbacks</span>
		</a></li>

		<li class="nav-item"><a th:href="@{/admin/CRUD_OtherFunction}"
			class="nav-link"> <i class="fas fa-cogs"></i> <span>Other
					Function</span>
		</a></li>

		<!-- Divider -->
		<hr class="sidebar-divider d-none d-md-block">

		<!-- Heading -->
		<div class="sidebar-heading">Area of Employee</div>

		<li class="nav-item"><a th:href="@{/admin/list_Customers}"
			class="nav-link"> <i class="fas fa-user-tag"></i> <span>Customers</span>
		</a></li>

		<!-- Nav Item - Employee -->
		<li class="nav-item"><a th:href="@{/admin/order}"
			class="nav-link"> <i class="fas fa-store-alt"></i> <span
				id="spanOrderStatusNew" class="badge badge-notify"></span> <span>Orders</span>

		</a></li>

		<!-- Sidebar Toggler (Sidebar) -->
		<div class="text-center d-none d-md-inline">
			<button class="rounded-circle border-0" id="sidebarToggle"></button>
		</div>
	</ul>

	<!-- Topbar -->

	<nav th:fragment="topBar"
		class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

		<!-- Sidebar Toggle (Topbar) -->
		<button id="sidebarToggleTop"
			class="btn btn-link d-md-none rounded-circle mr-3">
			<i class="fa fa-bars"></i>
		</button>



		<!-- Topbar Navbar -->
		<ul class="navbar-nav ml-auto">

			<!-- Nav Item - Search Dropdown (Visible Only XS) -->
			<li class="nav-item dropdown no-arrow d-sm-none"><a
				class="nav-link dropdown-toggle" href="#" id="searchDropdown"
				role="button" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false"> <i class="fas fa-search fa-fw"></i>
			</a> <!-- Dropdown - Messages -->
				<div
					class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
					aria-labelledby="searchDropdown">
					<form class="form-inline mr-auto w-100 navbar-search">
						<div class="input-group">
							<input type="text" class="form-control bg-light border-0 small"
								placeholder="Search for..." aria-label="Search"
								aria-describedby="basic-addon2">
							<div class="input-group-append">
								<button class="btn btn-primary" type="button">
									<i class="fas fa-search fa-sm"></i>
								</button>
							</div>
						</div>
					</form>
				</div></li>

			<!-- Nav Item - Alerts -->
			<li class="nav-item dropdown no-arrow mx-1"><a onclick="alertNotifyOnclick()" 
				class="nav-link dropdown-toggle" href="#" id="alertsDropdown"
				role="button" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false"> <i class="fas fa-bell fa-fw"></i> <!-- Counter - Alerts -->
					<span class="badge badge-danger badge-counter" id="alertNewCount">3+</span>
			</a> <!-- Dropdown - Alerts -->
				<div
					class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
					aria-labelledby="alertsDropdown">
					<h6 class="dropdown-header">Alerts Center</h6>
					<div id="areaAlertsCenter"></div>

					<a class="dropdown-item text-center small text-gray-500" th:href="@{/admin/CRUD_Alert}">Show
						All Alerts</a>
				</div></li>

			<!-- Nav Item - Messages -->
			<li class="nav-item dropdown no-arrow mx-1"><a
				class="nav-link dropdown-toggle" href="#" id="messagesDropdown"
				role="button" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false"> <i class="fas fa-envelope fa-fw"></i> <!-- Counter - Messages -->
					<span class="badge badge-danger badge-counter">7</span>
			</a> <!-- Dropdown - Messages -->
				<div
					class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
					aria-labelledby="messagesDropdown">
					<h6 class="dropdown-header">Message Center</h6>
					<a class="dropdown-item d-flex align-items-center" href="#">
						<div class="dropdown-list-image mr-3">
							<img class="rounded-circle" src="#" alt="">
							<div class="status-indicator bg-success"></div>
						</div>
						<div class="font-weight-bold">
							<div class="text-truncate">Hi there! I am wondering if you
								can help me with a problem I've been having.</div>
							<div class="small text-gray-500">Emily Fowler · 58m</div>
						</div>
					</a> <a class="dropdown-item d-flex align-items-center" href="#">
						<div class="dropdown-list-image mr-3">
							<img class="rounded-circle" src="#" alt="">
							<div class="status-indicator"></div>
						</div>
						<div>
							<div class="text-truncate">I have the photos that you
								ordered last month, how would you like them sent to you?</div>
							<div class="small text-gray-500">Jae Chun · 1d</div>
						</div>
					</a> <a class="dropdown-item d-flex align-items-center" href="#">
						<div class="dropdown-list-image mr-3">
							<img class="rounded-circle" src="#" alt="">
							<div class="status-indicator bg-warning"></div>
						</div>
						<div>
							<div class="text-truncate">Last month's report looks great,
								I am very happy with the progress so far, keep up the good work!</div>
							<div class="small text-gray-500">Morgan Alvarez · 2d</div>
						</div>
					</a> <a class="dropdown-item d-flex align-items-center" href="#">
						<div class="dropdown-list-image mr-3">
							<img class="rounded-circle" src="#" alt="">
							<div class="status-indicator bg-success"></div>
						</div>
						<div>
							<div class="text-truncate">Am I a good boy? The reason I
								ask is because someone told me that people say this to all dogs,
								even if they aren't good...</div>
							<div class="small text-gray-500">Chicken the Dog · 2w</div>
						</div>
					</a> <a class="dropdown-item text-center small text-gray-500" href="#">Read
						More Messages</a>
				</div></li>

			<div class="topbar-divider d-none d-sm-block"></div>

			<!-- Nav Item - User Information -->
			<li class="nav-item dropdown no-arrow"><a
				class="nav-link dropdown-toggle" href="#" id="userDropdown"
				role="button" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false"> <span
					class="mr-2 d-none d-lg-inline text-gray-600 small" id="nameMe">Duy
						Anh</span> <i class="fas fa-user-shield"></i>
			</a> <!-- Dropdown - User Information -->
				<div
					class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
					aria-labelledby="userDropdown">
					<span class="dropdown-item" id="roleMe">Role : D.A</span> <a
						class="dropdown-item" href="#" data-toggle="modal"
						data-target="#logoutModal"> <i
						class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
						Logout
					</a>
				</div></li>

		</ul>
	</nav>
	<!-- End of Topbar -->



	<!-- Footer -->
	<footer th:fragment="footer" class="sticky-footer bg-white">
		<div class="container my-auto">
			<div class="copyright text-center my-auto">
				<span>Copyright &copy; Your Website 2019</span>
			</div>
		</div>
	</footer>
	<!-- End of Footer -->

	<!-- Scroll to Top Button-->
	<a th:fragment="scrollTopButton" class="scroll-to-top rounded"
		href="#page-top"> <i class="fas fa-angle-up"></i>
	</a>
	<!-- Logout Modal-->
	<div th:fragment="logoutModal" class="modal fade" id="logoutModal"
		tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Select "Logout" below if you are ready
					to end your current session.</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button"
						data-dismiss="modal">Cancel</button>
					<a class="btn btn-primary" th:href="@{/logout}">Logout</a>
				</div>
			</div>
		</div>
	</div>

</body>
</html>