<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="footer">

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="stretched-container d-flex justify-content-lg-start justify-content-center pb-3">
                    <ul class="footer-nav">
                        <li><a class="regular-link" href="#">Liên hệ</a></li>
                        <li><a class="regular-link" href="#">Về chúng tôi</a></li>
                        <li>
                            <a class="regular-link"
                                href="https://donghohaitrieu.com/tin-tuc/dong-ho/nhung-kien-thuc-co-ban-ve-dong-ho-deo-tay-danh-cho-nguoi-dam.html"
                                target="_blank">
                                Kiến thức đồng hồ
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="stretched-container d-flex justify-content-lg-end py-lg-0 justify-content-center py-3">
                    <ul class="social-links">
                        <li>
                            <a href="https://www.facebook.com/v.a.redbeanboy" target="_blank">
                                <ion-icon name="logo-facebook" class="social-icon facebook-icon small-icon">
                                </ion-icon>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/anhddv98/" target="_blank">
                                <ion-icon name="logo-linkedin" class="social-icon linkedin-icon small-icon">
                                </ion-icon>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/hoangan1903/WatchShop" target="_blank">
                                <ion-icon name="logo-github" class="social-icon github-icon small-icon">
                                </ion-icon>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <p class="copyright-footer">Copyright &copy; 2019 by UIT Watchshop. All rights reserved.</p>
        </div>
    </div>

</div>

</html>