@media only screen and (min-width: 768px) {
  nav.desktop-navigation {
    display: block;
  }

  nav.mobile-navigation {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  nav.desktop-navigation {
    display: none;
  }

  nav.mobile-navigation {
    display: block;
  }
}
@media only screen and (max-width: 767px) {
  body section {
    padding-top: 30px !important;
  }
  body section.section-customer-orders table {
    font-size: 90% !important;
  }
  body section.section-customer-actions {
    padding-bottom: 30px !important;
  }
}
