@media only screen and (min-width: 768px) {
  nav.desktop-navigation {
    display: block;
  }

  nav.mobile-navigation {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  nav.desktop-navigation {
    display: none;
  }

  nav.mobile-navigation {
    display: block;
  }
}
@media only screen and (max-width: 991px) {
  body section.section-thank-you h1.success-heading {
    font-size: 32px !important;
  }
  body section.section-suggestions {
    padding-top: 0 !important;
  }
}
@media only screen and (max-width: 767px) {
  body section.section-thank-you h1.success-heading {
    font-size: 28px !important;
  }
  body section.section-suggestions {
    padding-top: 0 !important;
  }
}
