<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Change password</title>
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script th:src="@{/js/libs/jquery-3.4.1.js}"></script>
<script th:inline="javascript">
var serverContext = [[@{/}]];

function showLoadingScreen() {
	    $('.screen-cover').css('display', 'block');
}

function hideLoadingScreen() {
	    setTimeout(() => $('.screen-cover').css('display', 'none'), 400);
}
	
$(document).ready(function () {
    $(":password").keyup(function(){
        if($("#password").val() != $("#matchPassword").val()){
            $("#globalError").show().html("Password does not match");
        }else{
            $("#globalError").html("").hide();
        }
    });
});
 
function savePass(){
	if($("#password").val() != $("#matchPassword").val()){
        $("#globalError").show().html('Password does not match');
        return;
    }
    var xhttp = new XMLHttpRequest();
    var url = "/user/savePassword?newPassword="+$('#password').val();
    xhttp.open("POST", url, true);
	xhttp.setRequestHeader('Content-type',
			'application/json; charset=utf-8');
	 xhttp.onload = function() {
		if (xhttp.readyState == 4 && xhttp.status == "200") {
			alert('You have successfully changed the password');
			window.location.href=serverContext+"login";	
		}else{
			if(xhttp.status!="200"){
				$("#globalError").show().html("Server is error, try again!");
			}
		}
	}  
	
	 xhttp.send(); 
    
}
</script>
<style type="text/css">
.screen-cover {
	position: fixed;
	background-color: rgba(255, 255, 255, 0.4);
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 2000;
}
</style>
</head>

<body id="page-top">
	<div
		class="screen-cover d-flex justify-content-center align-items-center"
		style="display: none !important;">
		<div class="spinner-border text-success" role="status">
			<span class="sr-only">Loading...</span>
		</div>
	</div>
	<!-- Page Wrapper -->
	<div id="wrapper">
		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">
				<!-- Topbar -->

				<!-- End of Topbar -->
				<div class="container" id="main-content">
					<div class="row d-flex justify-content-center">
						<form>
							<h5 class="text-center mt-5">Change New Password</h5>
							<div class="form-group">
								<input id="password" class="form-control" type="password"
									placeholder="New Password">
							</div>
							<div class="form-group">
								<input id="matchPassword" class="form-control" type="password"
									placeholder="Confirm Password">
							</div>
							<div class="form-group">
								<p style="color: red;" id="globalError"></p>
							</div>

							<div class="form-group">
								<button type="button" class="btn btn-block btn-primary"
									onclick="savePass()">
									<i class="fa fa-save"></i>Save
								</button>
							</div>
						</form>


					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

	<!-- Core plugin JavaScript-->
	<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

	<!-- Custom scripts for all pages-->
	<script th:src="@{/js/sb-admin-2.min.js}"></script>

	<script th:src="@{/js/otherFunction.js}"></script>
</body>
</html>