/* Frequently reused values */
/* Mixins */
/* Global rules across all pages */
* {
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  color: #555;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

section {
  padding: 60px 0;
}

ul {
  list-style: none;
}
ul li {
  display: inline-block;
}

p {
  line-height: 145%;
}

/* Reusable styles */
/* Utility classes */
.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.full-height {
  height: 100%;
}

.half-height {
  height: 50%;
}

.stretched-container {
  width: 100%;
  height: 100%;
}
.stretched-container.centered-content {
  text-align: center;
}

.content-wrapper, *, ul {
  margin: 0;
  padding: 0;
}

.text-wt-ultra-thin {
  font-weight: 100;
}

.text-wt-thin {
  font-weight: 300;
}

.text-wt-regular {
  font-weight: 400;
}

.text-wt-bold {
  font-weight: 600;
}

.text-wt-extra-bold {
  font-weight: 700;
}

.text-white {
  color: #fff;
}

.text-black {
  color: #000;
}

.text-align-start {
  text-align: start;
}

.text-align-center {
  text-align: center;
}

.text-align-end {
  text-align: end;
}

.hidden {
  display: none;
}

/* Reusable classes/components */
div.product-img-container {
  height: 270px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2.section-heading {
  width: 100%;
  color: #555;
  font-family: "Montserrat", sans-serif;
  font-size: 167%;
  font-weight: 500;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
h2.section-heading::after {
  /* orange line after h2 element */
  display: block;
  height: 2px;
  background-color: #28a745;
  content: "";
  width: 100px;
  margin: 0 auto;
  margin-top: 20px;
}

a.regular-link, a.nav-link {
  transition: color 0.25s;
}
a.regular-link:link, a.nav-link:link, a.regular-link:visited, a.nav-link:visited {
  text-decoration: none;
  color: #888;
}
a.regular-link:hover, a.nav-link:hover, a.regular-link:active, a.nav-link:active {
  color: #28a745;
}
a.nav-link {
  transition: color 0.25s, border-bottom 0.25s;
}
a.nav-link:link, a.nav-link:visited {
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}
a.nav-link:hover, a.nav-link:active {
  border-bottom: 2px solid #28a745;
}
a.nav-link.nav-link-active {
  color: #28a745;
  font-weight: 600;
  border-bottom: 2px solid #28a745;
}
a.show-more {
  font-size: 90%;
}
a.cart-product-link, a.order-product-link, a.brand-link {
  font-size: 125%;
  font-weight: 500;
  transition: color 0.25s;
}
a.cart-product-link:link, a.order-product-link:link, a.brand-link:link, a.cart-product-link:visited, a.order-product-link:visited, a.brand-link:visited {
  text-decoration: none;
  color: #555;
}
a.cart-product-link:hover, a.order-product-link:hover, a.brand-link:hover, a.cart-product-link:active, a.order-product-link:active, a.brand-link:active {
  color: #28a745;
}
a.order-product-link, a.brand-link {
  font-size: 16px;
}
ion-icon.extra-small-icon {
  font-size: 20px;
}
ion-icon.small-icon {
  font-size: 24px;
}
ion-icon.regular-icon {
  font-size: 28px;
}
ion-icon.large-icon {
  font-size: 36px;
}
ion-icon.extra-large-icon {
  font-size: 48px;
}

.btn.btn-square {
  border-radius: 0;
}
.btn.btn-square-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.btn.btn-square-bottom {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.card.product-card {
  min-height: 450px;
  width: auto;
}
.card.product-card .card-body a.btn {
  margin-top: 20px;
}
.card .card-header {
  background-color: #fff;
}
.card .card-header a.card-header-action {
  font-size: 90%;
  font-weight: 400;
  transition: color 0.25s;
}
.card .card-header a.card-header-action:link, .card .card-header a.card-header-action:visited {
  text-decoration: none;
  color: #28a745;
}
.card .card-header a.card-header-action:hover, .card .card-header a.card-header-action:active {
  color: #218c3a;
}
.card h5.card-header-title {
  font-size: 110%;
  font-weight: 500;
  margin: 0;
  padding: 4px 0;
}

.custom_slider_nav {
  background: #28a745;
  position: absolute;
  top: 50%;
  right: -9px;
  width: 50px;
  height: 50px;
  z-index: 10;
  border-radius: 50%;
  cursor: pointer;
  transform: translateY(-50%);
  transition: all 0.25s ease;
}
.custom_slider_nav:hover {
  opacity: 0.8;
}

p.price {
  color: #28a745;
  font-size: 120%;
  font-weight: 500;
}
p.price.total {
  font-size: 130%;
}
p.price-small {
  color: #28a745;
  font-size: 16px;
  font-weight: 500;
}
p.price-subtotal {
  color: #555;
  font-size: 16px;
  font-weight: 500;
}
p.price-secondary-small {
  color: #555;
  font-size: 16px;
  font-weight: 400;
}
p.card-text {
  padding: 0;
  margin: 0;
}
p.card-text.cart-summary-entry {
  color: #555;
}
p.card-text.cart-summary-entry.total {
  font-weight: 500;
}
p.bold {
  font-weight: 500;
}

.card-item-divider {
  border-bottom: 1px solid #dfdfdf;
}

.product-quantity {
  color: #555;
  border-top: 1px solid #6c757d;
  border-bottom: 1px solid #6c757d;
}

/* Defines big reusable components like the header and the footer */
header nav.navigation {
  background-color: #f9f9f9;
  transition: all 0.5s ease;
}
header nav.navigation.mobile-navigation button.hamburger {
  display: flex;
  align-items: center;
  padding: 6px 12px;
  border: none;
  background-color: #f9f9f9;
}
header nav.navigation.mobile-navigation button.hamburger ion-icon.hamburger-icon {
  color: #555;
}
header nav.navigation.mobile-navigation.stick button.hamburger {
  background-color: white;
}
header nav.navigation.stick {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: white;
  box-shadow: 0 2px 2px #efefef;
}
header nav.navigation a.navbar-brand {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  transition: color 0.25s;
}
header nav.navigation a.navbar-brand:link, header nav.navigation a.navbar-brand:visited {
  text-decoration: none;
  color: #555;
}
header nav.navigation a.navbar-brand:hover, header nav.navigation a.navbar-brand:active {
  color: #28a745;
}
header nav.navigation ul.search-suggestion {
  display: none;
  background-color: #fff;
  border-top: 1px solid #e2e2e2;
  border-left: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  position: absolute;
  left: 15px;
  top: 45px;
  width: 360px;
  z-index: 1000;
}
header nav.navigation ul.search-suggestion.show {
  display: block;
}
header nav.navigation ul.search-suggestion h6.product-name {
  color: #555;
  font-weight: 500;
}
header nav.navigation ul.search-suggestion a.product-link:link, header nav.navigation ul.search-suggestion a.product-link:visited {
  text-decoration: none;
}
header nav.navigation ul.search-suggestion .suggestion-item {
  border-bottom: 1px solid #e2e2e2;
}
header nav.navigation ul.search-suggestion .suggestion-item:hover, header nav.navigation ul.search-suggestion .suggestion-item:active {
  background-color: #f8f8f8;
}

.hamburger-menu {
  display: none;
  position: fixed;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1000;
}
.hamburger-menu.show {
  display: block;
}

footer {
  padding: 48px 0 30px 0;
  background-color: #f3f3f3;
}
footer ul.footer-nav li {
  margin-right: 16px;
}
footer ul.social-links li {
  margin-right: 16px;
}
footer ul.social-links a:link, footer ul.social-links a:visited {
  text-decoration: none;
  color: #888;
}
footer ul.social-links a ion-icon.social-icon {
  transition: color 0.25s;
}
footer ul.social-links a ion-icon.facebook-icon:hover, footer ul.social-links a ion-icon.facebook-icon:active {
  color: #3b5998;
}
footer ul.social-links a ion-icon.twitter-icon:hover, footer ul.social-links a ion-icon.twitter-icon:active {
  color: #00aced;
}
footer ul.social-links a ion-icon.googleplus-icon:hover, footer ul.social-links a ion-icon.googleplus-icon:active {
  color: #dd4b39;
}
footer ul.social-links a ion-icon.instagram-icon:hover, footer ul.social-links a ion-icon.instagram-icon:active {
  color: #ce2d95;
}
footer ul.social-links a ion-icon.pinterest-icon:hover, footer ul.social-links a ion-icon.pinterest-icon:active {
  color: #e60023;
}
footer p.copyright-footer {
  width: 100%;
  margin-top: 16px;
  text-align: center;
  font-size: 80%;
  color: #888;
}

html,
body {
  background-color: #fff;
}

section.section-shopping-cart {
  padding: 30px 0;
}
section.section-shopping-cart a.cart-remove-all {
  font-size: 16px;
  font-weight: 400;
  transition: color 0.25s;
}
section.section-shopping-cart a.cart-remove-all:link, section.section-shopping-cart a.cart-remove-all:visited {
  text-decoration: none;
  color: #28a745;
}
section.section-shopping-cart a.cart-remove-all:hover, section.section-shopping-cart a.cart-remove-all:active {
  color: #218c3a;
}
section.section-shopping-cart div.card-item-actions a.card-item-action {
  margin-left: 16px;
}
section.section-shopping-cart div.card-item-actions a.card-item-action:link, section.section-shopping-cart div.card-item-actions a.card-item-action:visited {
  text-decoration: none;
  color: #888;
}
section.section-shopping-cart div.card-item-actions a.card-item-action ion-icon.cart-action-icon {
  transition: color 0.25s;
}
section.section-shopping-cart div.card-item-actions a.card-item-action ion-icon.wishlist-icon:hover, section.section-shopping-cart div.card-item-actions a.card-item-action ion-icon.wishlist-icon:active {
  color: #ec5757;
}
section.section-shopping-cart div.card-item-actions a.card-item-action ion-icon.remove-icon:hover, section.section-shopping-cart div.card-item-actions a.card-item-action ion-icon.remove-icon:active {
  color: #555;
}
