/* Frequently reused values */

$color-tranparent: rgba(0, 0, 0, 0);
$color-light-grey: #d3d3d3;
$color-accent: #28a745;
$color-accent-dark: #218c3a; // accent color -2
$color-navbar: #f9f9f9;
$color-footer: #f3f3f3;
$color-background: #fff;
$color-background-silver: #f4f4f4;
$color-primary-text: #555;
$color-secondary-text: #888;
$color-facebook-icon: #3b5998;
$color-twitter-icon: #00aced;
$color-googleplus-icon: #dd4b39;
$color-instagram-icon: #ce2d95;
$color-pinterest-icon: #e60023;
$color-wishlist-icon: #ec5757;
$color-quantity-button: #6c757d;
$color-error: #ec1d31;

$font-wt-ultra-thin: 100;
$font-wt-thin: 300;
$font-wt-regular: 400;
$font-wt-medium: 500;
$font-wt-bold: 600;
$font-wt-extra-bold: 700;

$font-size-small: 80%;
$font-size-reduced: 90%;
$font-size-regular: 16px;
$font-size-increased: 110%;
$font-size-large: 125%;
$font-size-very-large: 167%;
$font-size-huge: 400%;

$line-height-text: 145%;

$spacing-y-small: 30px;
$spacing-y-medium: 45px;
$spacing-y-large: 60px;
$spacing-y-extra: 80px;
$margin-bottom-reduced: 12px;

$border-radius-btn: 5px;
$opacity-sticky-nav: 0.99;
$border-color-search-suggestion: #e2e2e2;

$transtion-time: 0.25s;
$transtion-time-long: 0.5s;
$transtion-time-extra-long: 0.75s;
$transtion-time-very-long: 1s;

$img-height-product-details: 360px;
$img-height-banner: 400px;
$img-height-product-card: 360px;
$img-height-search-item: 80px;
$img-height-checkout-item: 130px;
$img-width-cart-item: 320px;