@import "values.scss";
@import "mixins.scss";
@import "rules.scss";
@import "reusables.scss";
@import "components.scss";

section {
    padding-bottom: 0;

    .card {
        &.account-card {

            h6.card-title {
                font-weight: $font-wt-medium;
                margin-bottom: 6px;
            }

            .card-entry {
                margin-bottom: 24px;
            }
        }
    }
}